.App {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 50%;
}

.section-heading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: white;
  margin-bottom: 40px;
}

.more-text {
  color: rgb(25, 229, 25);
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  position: relative;
}
.section-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.images {
  width: 220px;
  height: 220px;
  animation: zoomInEffect 1s ease-in-out forwards;
  margin: 40px;
  opacity: 0;
}

.image-container::before,
.image-container::after {
  content: '';
  position: absolute;
  background-color: #fff;
  opacity: 0.1;
}

.image-container::before {
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
}

.image-container::after {
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
}

@keyframes zoomInEffect {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
